@import 'styles/variaveis.scss';
@import 'styles/mixin.scss';
@import 'components/header.scss';
@import 'components/products.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: $corDeFundo;
    color: $corTexto;
    padding: $paddingPadrao;
    margin: $margemPadrao;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}